.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  cursor: default;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  font-size: 54px;
}

.App-header h2 {
  margin: 15px 0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-content {
  text-align: center;
  margin: auto;
  padding: 40px;
  max-width: 800px;
}

.hidden {
  display: none;
}

.top-right {
  position: absolute !important;
  top: 20px;
  right: 20px;
}

.top-left {
  position: absolute;
  top: 20px;
  left: 20px;
}

.icon-button {
  color: gray !important;
}

.icon-button:hover {
  color: #eee !important;
  cursor: pointer;
}

.text-info {
  font-size: 20px;
}

.text-info span {
  padding: 0 5px;
  vertical-align: top;
  display: inline-block;
}
